

div.thumbs {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    height: 15px;
}

div.thumbs.off {
    color: gray;
    border-color: gray
}

div.thumbs span {
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 8px;
}
