div.circulo{
    border-Radius: "100px";
    height: 50px;
    width: 50px;
    background-color: grey;
    display: inline-block;
}   
div.circulo.azul{
    background-color: blue;
}
div.circulo.verde{
    background-color: green;
}
div.circulo.rojo{
    background-color: red;
}
